.header {
  background-color: red;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-header {
  padding: 0;
  margin: 0;
}

.footer {
  background-color: #dbdbdb;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-footer {
  padding: 0;
  margin: 0;
}

.content-wrapper {
  display: flex;
}

.content-menu {
  width: 300px;
  height: 500px;
  background-color: #3d7d46;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.title-menu {
  padding: 0;
  margin: 0;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

.content-main {
  width: 100%;
  margin: 10px;
  border: 1px solid #9a9a9a;
  display: flex;
}

.title-table {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 0 0 10px 0;
}

.content-main-left {
  flex: 60%;
  padding: 10px;
}

.content-main-right {
  flex: 40%;
  padding: 10px;
}

.group-button {
  display: flex;
  flex-wrap: wrap;
}

.group-button button {
  cursor: pointer;
}

.content-form-input {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.content-form-input label {
  min-width: 60px;
  max-width: 100px;
}

.content-form-input input {
  width: 100%;
}

.content-form {
  border: 1px solid #dbdbdb;
  padding: 20px 20px;
}
