<!--<app-hello *ngIf="user.age >= 18; else not18" [name]="user.name"></app-hello>-->

<!--<ng-template #not18>-->
<!--  <h1>YOU NOT 18+</h1>-->
<!--</ng-template>-->

<!--<button (click)="user.age= user.age+1">CONG</button>-->
<!--<button (click)="user.age= user.age-1">TRU</button>-->

<!--<br>-->
<!--<br>-->
<!--<button (click)="isDanger = !isDanger">Click Danger</button>-->
<!--<br>-->
<!--<br>-->
<!--<button (click)="isWarning = !isWarning">Click Warning</button>-->
<!--<div class="box" [class.danger]="isDanger" [class.warning]="isWarning">-->

<!--</div>-->

<!--<div class="box" [class]="{'danger':isDanger, 'warning': isWarning}">-->

<!--</div>-->

<!--<app-progress-bar></app-progress-bar>-->
<!--<br>-->
<!--<app-progress-bar [progress]="percent" [progressColor]="'blue'"></app-progress-bar>-->
<!--<br>-->
<!--<button (click)="percent = percent +1">Increase</button>-->

<!--<app-student></app-student>-->
<!--<app-toggle-parent></app-toggle-parent>-->
<app-project-one></app-project-one>
